/* styles/globals.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dashboard-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify: center;
  item-align: center;
}

footer {
  margin-top: 40px;
}

.board-tabs {
  display: flex;
  margin-top: 16px;
}

.board-tab {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px 8px 0px 0px;
  margin-right: 4px;
  background-color: #f1f1f1;
}

.board-tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

/* Optional: Hover effect */
.board-tab:hover {
  background-color: #e0e0e0;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.board-table th,
.board-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.board-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

/* Optional: Hover effect */
.board-table tbody tr:hover {
  background-color: #f5f5f5;
}

button {
  padding: 8px 16px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0053a0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #c1c1c1;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #777777;
  color: #fff;
}

.writeButton {
  margin-left: auto;
  background-color: #c1c1c1; /* Set the background color to gray */
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.writeButton:hover {
  background-color: #999; /* Darker gray for hover state */
  color: black;
}

.updateButton {
  background-color: #c1c1c1; /* Set the background color to gray */
  color: #fff;
  padding: 8px;
  margin-right: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.updateButton:hover {
  background-color: #999; /* Darker gray for hover state */
  color: black;
}
.ck-editor__editable {
  height: 400px;
}
